/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/coverage/
/depcomp
/examples/uft_example_*
/examples/uft_example_*
/examples/uft_example_*
/examples/uft_example_*
/examples/uft_example_*
/examples/uft_hello
/examples/uft_nested
/examples/uft_shortcuts
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/src/.deps/
/src/.dirstamp
/src/.libs/
/src/Makefile
/src/Makefile.in
/src/*.gcda
/src/*.gcno
/src/*.o
/src/*.la
/src/*.lo
/stamp-h1
/test-driver
/test/.deps/
/test/.libs/
/test/Makefile
/test/Makefile.in
/test/check_uft_tx
/test/check_*.gcda
/test/check_*.gcno
/test/check_*.o
/test/check_*.log
/test/check_*.trs
/test/test-suite.log
/test/test-suite.tap
